*.dll
*.pdb
*.suo
*.lock.json
*.dll.mdb
*.user

Log*.txt
Traces.svclog

.svn
.vs

bin
obj
packages
BundleArtifacts
AppPackages

*.designer.cs
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
*.targets
*.props
*.csproj.bak
*.targets
*.props

/AES/.vs/restore.dg
/Xivic/Adapt.Services/wwwroot/Xivic.Xap
/AES/AES.sln.DotSettings.user